<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sign-in.css">
    <title>Inicio</title>
</head>
<style>
    .link_a {
        position: absolute;
        color:rgb(255, 95, 26);
    }
    .link_b{
        position: absolute;
        left: 70px;
        color:rgb(5, 209, 97)
    }

</style>
<body>
    <a class="link_a" href="/login">Sing in</a>
    <a class="link_b" href="/register">Register</a>
</body>
</html>