<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sign-in.css">
    <title>Private</title>
</head>
<body>
    <h1>Archivos privados</h1>
    <a href="logout" >Logout</a>
    <a href="/dashboard">Ir a dashboard</a>
</body>
</html>